body {
    margin: 0;
    display: block;
}

#day {
    display: none;
}

button {
    width: 70px;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 10;
}

#mapD, #mapN {
    height: 100vh;
    z-index: 10;
}