body {
    margin: 0;
    display: block;
}

#day, #bt2 {
    display: none;
}

#bt1, #bt2 {
    width: 100px;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 10;
}

#mapD, #mapN {
    height: 100vh;
    z-index: 10;
}

img {
    max-width: 600px;
    max-height: 400px;
}

.leaflet-popup-content-wrapper {
    width: 640px;
}

h1 {
    width: 590px;   
    text-align: center;
}

.audio {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    width: 595px;
}